<!-- Pagination -->
{{ $pag := $.Paginator }}

{{ if gt $pag.TotalPages 1 }}
<ul class="pager">
    {{ if $pag.HasPrev }}
    <li class="previous">
        <a href="{{ $pag.Prev.URL }}">&larr; 上一页</a>
    </li>
    {{ end }}

    {{ if .Site.Params.page_enable }}
    {{ range $pag.Pagers }}
    <li class="pagination__item">
        <a {{ if eq . $pag }} style="background-color:#404040;color: white;" {{ end }} aria-label="Goto page {{ .PageNumber }}" href="{{ .URL }}">{{ .PageNumber }}</a>
    </li>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <li class="next">
        <a href="{{ $pag.Next.URL }}">下一页 &rarr;</a>
    </li>
    {{ end }}
</ul>
{{ end }}
