<!-- post list -->
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}" target="_blank">
        <h2 class="post-title">
            <span>{{ .Title }}</span>

        </h2>

        {{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
        {{ end }}
        <div class="post-content-preview">
            {{ with .Description }}
            {{ . }}
            {{ else }}
            {{ .Summary}}
            {{ end }}
        </div>
    </a>
    <p class="post-meta" style="margin-bottom: 5px">
        Posted by {{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Title }}{{ end }} on {{ .Date.Format "Monday, Jan 02,2006 15:04:05" }}
    </p>
<div>
    <span class="categories_list">
        {{range .Params.categories}}
        <a href="{{ "categories/" | absLangURL }}{{ . | urlize }}"  target="_blank"><i class="fa fa-folder-o" ></i>&nbsp;{{.}}</a>
        {{end}}
    </span>
    <span class="categories_list">
        <i class="fa fa-tags" ></i>
        {{ range .Params.tags }}
        <a class="tag"  href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}"  target="_blank">{{ . }}</a>、
        {{ end }}
    </span>
</div>
</div>
<div>
</div>
<hr>
{{ end }}

