<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">
<div id="search-searchbar"></div>
<div class="post-list" id="search-hits">
</div>

<script>
    const search = instantsearch({
        appId: '{{ .Site.Params.algolia_appId }}',
        indexName: '{{ .Site.Params.algolia_indexName }}',
        apiKey: '{{ .Site.Params.algolia_apiKey }}'
    });


    Date.prototype.format = function (mask) {
        var d = this;
        var zeroize = function (value, length) {
            if (!length) length = 2;
            value = String(value);
            for (var i = 0, zeros = ''; i < (length - value.length); i++) {
                zeros += '0';
            }
            return zeros + value;
        };
        return mask.replace(/"[^"]*"|'[^']*'|\b(?:d{1,4}|M{1,4}|m{1,4}|yy(?:yy)?|([hHMstT])\1?|[lLZ])\b/g, function ($0) {
            switch ($0) {
                case 'd':
                    return d.getDate();
                case 'dd':
                    return zeroize(d.getDate());
                case 'ddd':
                    return ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat'][d.getDay()];
                case 'dddd':
                    return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][d.getDay()];
                case 'M':
                    return d.getMonth() + 1;
                case 'MM':
                    return zeroize(d.getMonth() + 1);
                case 'MMM':
                    return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][d.getMonth()];
                case 'MMMM':
                    return ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][d.getMonth()];
                case 'yy':
                    return String(d.getFullYear()).substr(2);
                case 'yyyy':
                    return d.getFullYear();
                case 'h':
                    return d.getHours() % 12 || 12;
                case 'hh':
                    return zeroize(d.getHours() % 12 || 12);
                case 'H':
                    return d.getHours();
                case 'HH':
                    return zeroize(d.getHours());
                case 'm':
                    return d.getMinutes();
                case 'mm':
                    return zeroize(d.getMinutes());
                case 's':
                    return d.getSeconds();
                case 'ss':
                    return zeroize(d.getSeconds());
                case 'l':
                    return zeroize(d.getMilliseconds(), 3);
                case 'L':
                    var m = d.getMilliseconds();
                    if (m > 99) m = Math.round(m / 10);
                    return zeroize(m);
                case 'tt':
                    return d.getHours() < 12 ? 'am' : 'pm';
                case 'TT':
                    return d.getHours() < 12 ? 'AM' : 'PM';
                case 'Z':
                    return d.toUTCString().match(/[A-Z]+$/);
                // Return quoted strings with the surrounding quotes removed
                default:
                    return $0.substr(1, $0.length - 2);
            }
        });
    };

    const hitTemplate = function (hit) {
        /*  if (hit === null){
              return;
          }*/
        let date = '';
        if (hit.date) {
            date = new Date(hit.date).format('dddd, MMM dd,yyyy HH:mm:ss');
        }
        let url = `/${hit.uri}`;
        const title = hit._highlightResult.title.value;
        let author = `${hit.author}`;
        let breadcrumbs = '';
        if (hit._highlightResult.headings) {
            breadcrumbs = hit._highlightResult.headings.map(match => {
                return `<span class="post-breadcrumb">${match.value}</span>`
            }).join(' > ')
        }

        let content = "";
        if (hit._highlightResult.content) {
            content = hit._highlightResult.content.value;
        }
        else {
            content = hit.content;
        }

        if (content.length > 880) {
            content = content.substring(0, 880) + '...';
        }


        return `
    <div class="post-item">
      <h2><a class="post-link" href="${url}"  target="_blank">${title}</a></h2>
      <span class="post-meta" style="color: gray; font-family: Lora, 'Times New Roman', serif;font-style: italic;font-size: 18px">Posted by ${author} on ${date}</span>
      <a href="${url}" class="post-breadcrumbs" target="_blank">${breadcrumbs}</a>
      <div class="post-snippet">${content}</div>
    </div>
  `;
    }


    search.addWidget(
        instantsearch.widgets.searchBox({
            container: '#search-searchbar',
            placeholder: 'Search into posts...',
            poweredBy: true // This is required if you're on the free Community plan
        })
    );

    search.addWidget(
        instantsearch.widgets.hits({
            container: '#search-hits',
            templates: {
                item: hitTemplate
            }
        })
    );

    search.start();
</script>

<style>
    .ais-search-box {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .post-item {
        margin-bottom: 30px;
    }

    .post-link .ais-Highlight {
        color: #111;
        font-style: normal;
        text-decoration: underline;
    }

    .post-breadcrumbs {
        color: #424242;
        display: block;
    }

    .post-breadcrumb {
        font-size: 18px;
        color: #424242;
    }

    .post-breadcrumb .ais-Highlight {
        font-weight: bold;
        font-style: normal;
    }

    .post-snippet .ais-Highlight {
        color: #2a7ae2;
        font-style: normal;
        font-weight: bold;
    }

    .post-snippet img {
        display: none;
    }
</style>
